#home-page-container {
    background: #c1946a;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'URW Chancery L', cursive;
    color: white;
}

#home-page-container img {
    width: 1800px;
    height: 820px;
}

/* #home-page-overlay {
    height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */

/* #home-page-overlay h1 {
    color: white;
    font-size: 48px;
    margin-right: 100px;
} */

.logo {
    width: 1200px;
    height: 1200px;
}