.profile-dropdown {
  position: absolute;
}

#top-nav-bar {
  margin: 0;
  background: rgba(9, 194, 92, 0.918);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}